{% extends "main/base_1.html" %}

{% load static %}

{% block content %}
<!-- <!DOCTYPE html> -->
<!-- <html lang="en"> -->
    <head><base target="_top"><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>Scrambled Sentences for ESL Students - Proverbs</title>
    <meta name="description" content="A 'scrambled sentence' game/quiz designed for students of English as a Second Language.">
    <meta name="keywords" content="ESL, TEFL, EFL, TESL, TESOL, ESOL, ELT, CALL, foreign language, English study, English practice, English tests, English quiz, education">
    <link rel="stylesheet" href="{% static 'main/assets/css/d.css' %}">
    <script type="text/javascript" src="{% static 'main/assets/js/d-noyu.js' %}"></script>

    </head>


    <body id="ss" class="yui-skin-sam">
        <script type="text/javascript">menu();</script>
    <div class="main ss">

    <script src="{% static 'main/assets/js/ss.js' %}"></script>
    <h1>Scrambled Sentences - Proverbs</font><br /><font size=3>Put the words in the correct order.</font></h1>



    <FORM><SCRIPT LANGUAGE='JavaScript'>
    <!--
    S0="माता क्रयणे युक्ता अस्ति।"
    S1="भवत्याः नर्तनं पञ्चाधिक सार्ध पञ्चवादने अस्ति"
    S2="अहं पादोन एकादशवादने लिखामि"
    S3="अलेक्षः सप्तवादने गच्छति"
    S4="सीता सार्धत्रिवादने पठति"
    S5="There`s no fool like an old fool."
    S6="All is fair in love and war."
    S7="There`s no place like home."
    S8="If a job`s worth doing, it`s worth doing well."
    S9="United we stand, divided we fall."
    init()
    // -->
    </SCRIPT></FORM>
    </div><div class="foot"><script type="text/javascript">foot();</script>
    <!-- <p class="fu">This page is part of <a href="http://www.manythings.org/ss/">Scrambled Sentences</a> which is part of <a href="http://www.manythings.org/">Interesting Things for ESL Students</a>.</p><p class="fc"> <a href="http://www.manythings.org/copyright.html">Copyright</a> &copy; 2001 by <a href="http://aitech.ac.jp/~ckelly/">Charles Kelly</a>, All Rights Reserved<BR>The JavaScript for this activity is courtesy of <a href="http://clear.msu.edu/dennie/">Dennie Hoopingarner</a>. <!http://clear.msu.edu/dennie/matic/mixer/><!hooping4 === msu.edu></p></div></body></html> -->

        {% endblock %}
