{%extends "main/base.html"%}
{% load static %} 

{% block content %}


<div class="page-heading">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1> Memory Game </h1>
        <p>Match the pairs</p>
      </div>
    </div>
  </div>
</div>


<!-- Left Image -->
<section class="left-image">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <img src="{% static 'assets/images/left-image.jpg' %}" alt="">
      </div>
      <div class="col-md-6">
        <div class="right-content">
          <h4>Rules of the Game</h4>
          <p>Match the images hidden with its pair.</p>
          <p>Learners are provided with several cards, amongst them there are 2 identical cards that needs to be matches. The cards contain pictures of animals and term used for them in sanskrit. A fun activity that would teach you a lot while you play.</p>
          <p>Have fun and learn a lot. Goood luck!!</p>          <p>Have fun!!</p>
          <div class="primary-button">
            <a href="{% url 'memorygame' %}">Play</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}