{%extends "main/base.html"%}
{% load static %} 

{% block content %}

<div class="page-heading">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1> Scramble </h1>
          <p>Rearrange the words.</p>
        </div>
      </div>
    </div>
  </div>


<!-- Left Image -->
<section class="left-image">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <img src="{% static 'assets/images/left-image.jpg' %}" alt="">
        </div>
        <div class="col-md-6">
          <div class="right-content">
            <h4>How To Play</h4>
            <p>The learners are provided with the bunch of words, they have to rearrange them to form a meaningful sentence. From this game learners can understand sanskrit grammar in better way. They will learn how sentence construction in sanskrit language works and therefore will be able to learn the language easily. </p>
            <div class="primary-button">
              <a href="{% url 'scramble' %}">Play</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}