{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
  <link rel="shortcut icon" href="https://www.lexilogos.com/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="Lexilogos" href="https://www.lexilogos.com/rss.xml">
  <link href="{% static 'main/assets/css/style1.css' %}" rel="stylesheet" type="text/css">
  <style>
    .bt,
    .bt:visited {
      text-decoration: none;
      cursor: pointer;
      font-size: 20pt;
      font-family: Chandas, Arial;
      color: #CC0033;
    }

    .bt:hover {
      color: #0000FF;
    }

    .deva {
      color: #0000FF;
      font-family: Chandas, Arial;
      font-size: 120%;
    }

    .kb-deva {
      font-family: Chandas, Arial;
      font-size: 18pt;
    }

    .cadr {
      width: 80%;
      color: #0000FF;
      font-family: Chandas, Arial;
      font-size: 15pt;
      padding: 0.3em;
    }
  </style>
  <script async="" src="{% static 'main/assets/js/analytics.js' %}"></script>
  <script src="{% static 'main/assets/js/base.js' %}"></script>
  <script src="{% static 'main/assets/js/carsa.js' %}"></script>
  <script src="{% static 'main/assets/js/clipboard.js' %}"></script>
  <script src="{% static 'main/assets/js/savee.js' %}"></script>
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-122422-1', 'auto');
    ga('send', 'pageview');
  </script>
  <style>
    .mastbk {
      height: 0;
      width: 100%;
      position: fixed;
      z-index: 1;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 1);
      overflow-y: scroll;
      transition: 0.5s;
      padding-bottom: 0px;
    }

    .mastbk a {
      padding: 8px 8px 8px 8px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }

    .mastbk a:hover {
      color: #f1f1f1;
    }

    .mastbk .closebtn {
      position: absolute;
      bottom: 600px;
      right: 160px;
      font-size: 36px;
      margin-left: 50px;
    }

    @media screen and (max-height: 450px) {
      .mastbk {
        padding-bottom: 15px;
      }

      .mastbk a {
        font-size: 18px;
      }
    }
  </style>
  <title>Samskritam</title>


  <!-- Bootstrap core CSS -->
  <link href="{% static 'main/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!--
Ramayana CSS Template
https://templatemo.com/tm-529-ramayana
-->

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{% static 'main/assets/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'main/assets/css/templatemo-style.css' %}">
  <link rel="stylesheet" href="{% static 'main/assets/css/owl.css' %}">
  <link rel="stylesheet" href="{% static 'main/assets/css/style.css' %}">
</head>

{%if login_error%}
<script>
  alert('{{ login_error }}');
</script>
{%endif%}

<body class="is-preload">

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Main -->
    <div id="main">
      <div class="inner">

        <!-- Header -->
        <header id="header">
          <div class="logo">
            <a href="{% url 'home' %}">Samskritam</a>
          </div>
        </header>

        <!-- Banner -->


        <!-- Services -->

        {% block content %}
        {% endblock %}



      </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">

      <div class="inner">

        <!-- Search Box -->
        <section id="search" class="alt">
          <form method="get" action="#">
            <input type="text" name="search" id="transliterateTextarea" placeholder="Search..." />
          </form>
        </section>



        <!-- Menu -->
        <nav id="menu">
          <ul>
            <li> <button type="button" name="button" onclick="openNav()">keyboard</button></li>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'play' %}">Play</a></li>
            <!-- <li>
                  <span class="opener">Play</span>
                  <ul>
                    <li><a href="#">First Sub Menu</a></li>
                    <li><a href="#">Second Sub Menu</a></li>
                    <li><a href="#">Third Sub Menu</a></li>
                  </ul>
                </li> -->
            <li><a href="{% url 'learn' %}">Learn </a></li>
            <li><a href="{% url 'compete' %}">Compete</a></li>
            {% if expert %}
            <li><a href="{% url 'my_competitions' %}">My Competitions</a></li>
            {%endif%}
            <li><a href="{% url 'class' %}">Peer interaction</a></li>
            <li><a href="{% url 'about_us' %}">About Us</a></li>
            {%if not user.is_authenticated%}
            <li><a href="{% url 'signup_view' %}">Sign Up</a></li>
            {%endif%}
          </ul>
        </nav>

        <br>
        <!-- <div class="featured-posts"> -->

        <!-- </div> -->

        {% if user.is_authenticated %}

        <!-- <div class="row"> -->
        <div class="heading">
          <h4 style="color: white;">Hi {{user}}</h4>
        </div>
        <br>
        <div class="heading">
          <a href="{% url 'logout_view' %}"><button>Log Out</button></a>
        </div>
        <!-- </div> -->

        {% else %}

        <div class="heading">
          <h4 style="color: white;">Log In</h4>
        </div>
        <section id="search" class="alt">
          <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" id="username" placeholder="Username" />
            <input type="password" name="password" id="password" placeholder="Password" />
            <center>
              <button type="submit" name="submit"> Submit</button>
            </center>
          </form>
        </section>
        <br><br><br>
        <!-- <a href="{% url 'signup_view' %}"><button>Sign Up</button></a> -->

        {%endif%}

        <!-- Featured Posts
        <div class="featured-posts">
          <div class="heading">
            <h2>Featured Posts</h2>
          </div>
          <div class="owl-carousel owl-theme">
            <a href="#">
              <div class="featured-item">
                <img src="{% static 'assets/images/featured_post_01.jpg' %}" alt="featured one">
                <p>Aliquam egestas convallis eros sed gravida. Curabitur consequat sit.</p>
              </div>
            </a>
            <a href="#">
              <div class="featured-item">
                <img src="{% static 'assets/images/featured_post_01.jpg' %}" alt="featured two">
                <p>Donec a scelerisque massa. Aliquam non iaculis quam. Duis arcu turpis.</p>
              </div>
            </a>
            <a href="#">
              <div class="featured-item">
                <img src="{% static 'assets/images/featured_post_01.jpg' %}" alt="featured three">
                <p>Suspendisse ac convallis urna, vitae luctus ante. Donec sit amet.</p>
              </div>
            </a>
          </div>
        </div> -->

        <!-- Footer -->
        <footer id="footer">
          <p class="copyright">Copyright &copy; 2021 Samskritam
            <br>Designed by <a rel="nofollow" href="https://www.facebook.com/templatemo">Template Mo</a>
          </p>
        </footer>



      </div>
    </div>

  </div>
  <div id="mymastbk" class="mastbk">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <!-- Navigation -->
    <span class="kb-t">Sanskrit</span> &nbsp; <span class="kb-deva">संस्कृतम्</span>
    <div class="cd">
    </div>
    <div class="esp"></div>
    <div class="esp"></div>
    <div class="center">
      <noscript>
        <span class="span-red">Warning! JavaScript is disabled, the functionality of Lexilogos is unavailable.</span><br>
        You must enable JavaScript in your web browser: see the <a class="ext" href="https://www.enable-javascript.com/" target="_blank">instructions</a>.<br><br>
      </noscript>
      <br>
      <form name="conversion">
        <div class="delc">
          <br>
          <input type="button" class="eff" title="clear" onclick="reset();conversion.saisie.focus()" value="">
        </div>
        <textarea name="saisie" id="bar" onkeyup="transcrire()" rows="4" class="cadr"></textarea>
        <br>
        <br>
        <input type="button" class="bf" onclick="copysanskrit()" data-clipboard-action="copy" data-clipboard-target="#bar" value="copy">
        <script>
          var clipboard = new Clipboard('.bf');
          clipboard.on('success', function(e) {
            console.log(e);
          });
          clipboard.on('error', function(e) {
            console.log(e);
          });
        </script>
        <input type="button" class="bf" onclick="save()" value="save">
        <input type="button" class="bf" onclick="alpha(&#39; &#39;)" value="space"><input type="button" class="bf" onclick="conversion.saisie.rows=4;conversion.saisie.focus()" value="small frame"><input type="button" class="bf"
          onclick="conversion.saisie.rows=40;conversion.saisie.focus()" value="large frame">
        <br>
        <table class="tab-kbd">
          <tbody>
            <tr>
              <td style="width:42%;">
                <table class="tab-kb">
                  <tbody>
                    <tr class="arial">
                      <td>ka</td>
                      <td>kha</td>
                      <td>ga</td>
                      <td>gha</td>
                      <td>nga</td>
                    </tr>
                    <tr>
                      <td><input type="button" class="bt" onclick="alpha(&#39;क&#39;)" value="क"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ख&#39;)" value="ख"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ग&#39;)" value="ग"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;घ&#39;)" value="घ"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ङ&#39;)" value="ङ"></td>
                    </tr>
                    <tr class="arial">
                      <td>ca</td>
                      <td>cha</td>
                      <td>ja</td>
                      <td>jha</td>
                      <td>ña</td>
                    </tr>
                    <tr>
                      <td><input type="button" class="bt" onclick="alpha(&#39;च&#39;)" value="च"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;छ&#39;)" value="छ"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ज&#39;)" value="ज"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;झ&#39;)" value="झ"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ञ&#39;)" value="ञ"></td>
                    </tr>
                    <tr class="arial">
                      <td>Ṭa</td>
                      <td>Ṭha</td>
                      <td>Ḍa</td>
                      <td>Ḍha</td>
                      <td>Ṇa</td>
                    </tr>
                    <tr>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ट&#39;)" value="ट"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ठ&#39;)" value="ठ"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ड&#39;)" value="ड"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ढ&#39;)" value="ढ"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ण&#39;)" value="ण"></td>
                    </tr>
                    <tr class="arial">
                      <td>ta</td>
                      <td>tha</td>
                      <td>da</td>
                      <td>dha</td>
                      <td>na</td>
                    </tr>
                    <tr>
                      <td><input type="button" class="bt" onclick="alpha(&#39;त&#39;)" value="त"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;थ&#39;)" value="थ"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;द&#39;)" value="द"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ध&#39;)" value="ध"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;न&#39;)" value="न"></td>
                    </tr>
                    <tr class="arial">
                      <td>pa</td>
                      <td>pha</td>
                      <td>ba</td>
                      <td>bha</td>
                      <td>ma</td>
                    </tr>
                    <tr>
                      <td><input type="button" class="bt" onclick="alpha(&#39;प&#39;)" value="प"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;फ&#39;)" value="फ"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ब&#39;)" value="ब"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;भ&#39;)" value="भ"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;म&#39;)" value="म"></td>
                    </tr>
                    <tr class="arial">
                      <td>ya</td>
                      <td>ra</td>
                      <td>la</td>
                      <td>va</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td><input type="button" class="bt" onclick="alpha(&#39;य&#39;)" value="य"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;र&#39;)" value="र"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ल&#39;)" value="ल"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;व&#39;)" value="व"></td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr class="arial">
                      <td>śa</td>
                      <td>Ṣa</td>
                      <td>sa</td>
                      <td>ha</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td><input type="button" class="bt" onclick="alpha(&#39;श&#39;)" value="श"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ष&#39;)" value="ष"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;स&#39;)" value="स"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ह&#39;)" value="ह"></td>
                      <td>&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td>
                <table class="tab-kb">
                  <tbody>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td><input type="button" class="bt" title="virama" onclick="alpha(&#39;्&#39;)" value="्"></td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td>
                <table class="tab-kb">
                  <tbody>
                    <tr class="arial">
                      <td>a</td>
                      <td>ā</td>
                      <td>i</td>
                      <td>ī</td>
                      <td>u</td>
                      <td>ū</td>
                    </tr>
                    <tr>
                      <td><input type="button" class="bt" onclick="alpha(&#39;अ&#39;)" value="अ"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;आ&#39;)" value="आ"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;इ&#39;)" value="इ"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ई&#39;)" value="ई"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;उ&#39;)" value="उ"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ऊ&#39;)" value="ऊ"></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ा&#39;)" value="ा"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ि&#39;)" value="ि"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ी&#39;)" value="ी"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ु&#39;)" value="ु"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ू&#39;)" value="ू"></td>
                    </tr>
                  </tbody>
                </table>
                <table class="tab-kb">
                  <tbody>
                    <tr class="arial">
                      <td>ri</td>
                      <td>rī</td>
                      <td>li</td>
                      <td>lī</td>
                      <td class="esps"></td>
                      <td>e</td>
                      <td>ai</td>
                      <td>o</td>
                      <td>au</td>
                    </tr>
                    <tr>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ऋ&#39;)" value="ऋ"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ॠ&#39;)" value="ॠ"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ऌ&#39;)" value="ऌ"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ॡ&#39;)" value="ॡ"></td>
                      <td>&nbsp;</td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ए&#39;)" value="ए"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ऐ&#39;)" value="ऐ"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ओ&#39;)" value="ओ"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;औ&#39;)" value="औ"></td>
                    </tr>
                    <tr>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ृ&#39;)" value="ृ"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ॄ&#39;)" value="ॄ"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ॢ&#39;)" value="ॢ"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ॣ&#39;)" value="ॣ"></td>
                      <td>&nbsp;</td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;े&#39;)" value="े"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ै&#39;)" value="ै"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ो&#39;)" value="ो"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;ौ&#39;)" value="ौ"></td>
                    </tr>
                  </tbody>
                </table>
                <br>
                <table class="tab-kb">
                  <tbody>
                    <tr>
                      <td><input type="button" class="bt" title="udatta" onclick="alpha(&#39;॑&#39;)" value=" ॑"></td>
                      <td><input type="button" class="bt" title="anudatta" onclick="alpha(&#39;॒&#39;)" value=" ॒"></td>
                      <td><input type="button" class="bt" title="accent grave" onclick="alpha(&#39;॓&#39;)" value="॓"></td>
                      <td><input type="button" class="bt" title="accent aigu" onclick="alpha(&#39;॔&#39;)" value="॔"></td>
                      <td><input type="button" class="bt" title="candra bindu" onclick="alpha(&#39;ँ&#39;)" value="ँ"></td>
                      <td><input type="button" class="bt" title="anusvara" onclick="alpha(&#39;ं&#39;)" value="ं"></td>
                      <td><input type="button" class="bt" title="visarga" onclick="alpha(&#39;ः&#39;)" value="ः"></td>
                      <td><input type="button" class="bt" title="nukta" onclick="alpha(&#39;़&#39;)" value="़"></td>
                    </tr>
                  </tbody>
                </table>
                <br>
                <table class="tab-kb">
                  <tbody>
                    <tr>
                      <td><input type="button" class="bt" title="danda" onclick="alpha(&#39;।&#39;)" value="।"></td>
                      <td><input type="button" class="bt" title="double danda" onclick="alpha(&#39;॥&#39;)" value="॥"></td>
                      <td><input type="button" class="bt" title="avagraha" onclick="alpha(&#39;ऽ&#39;)" value="ऽ"></td>
                      <td><input type="button" class="bt" title="symbole d&#39;abréviation" onclick="alpha(&#39;॰&#39;)" value="॰"></td>
                      <td><input type="button" class="bt" title="om" onclick="alpha(&#39;ॐ&#39;)" value="ॐ"></td>
                    </tr>
                  </tbody>
                </table>
                <br>
                <table class="tab-kb">
                  <tbody>
                    <tr class="arial">
                      <td>0</td>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                      <td>4</td>
                      <td>5</td>
                      <td>6</td>
                      <td>7</td>
                      <td>8</td>
                      <td>9</td>
                    </tr>
                    <tr>
                      <td><input type="button" class="bt" onclick="alpha(&#39;०&#39;)" value="०"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;१&#39;)" value="१"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;२&#39;)" value="२"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;३&#39;)" value="३"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;४&#39;)" value="४"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;५&#39;)" value="५"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;६&#39;)" value="६"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;७&#39;)" value="७"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;८&#39;)" value="८"></td>
                      <td><input type="button" class="bt" onclick="alpha(&#39;९&#39;)" value="९"></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <!-- Footer -->


    <!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
    <!-- jQuery -->
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script> -->
    <!-- <script src="js/lessions.js"></script> -->
    <!-- <script src="js/app.js"></script> -->
  </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'main/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'main/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <script src="{% static 'main/assets/js/browser.min.js' %}"></script>
  <script src="{% static 'main/assets/js/breakpoints.min.js' %}"></script>
  <script src="{% static 'main/assets/js/transition.js' %}"></script>
  <script src="{% static 'main/assets/js/owl-carousel.js' %}"></script>
  <script src="{% static 'main/assets/js/custom.js' %}"></script>
  <script type="text/javascript" src="http://vaani.neechalkaran.com/Scripts/google_jsapi.js"></script>
  <script type="text/javascript" src="{% static 'main/assets/js/transliteration.js' %}"></script>
  <script src="{% static 'main/assets/js/notes.js'%}"></script>

  <script>
    function openNav() {
      document.getElementById("mymastbk").style.height = "100%";
      document.getElementById("mymastbk").style.paddingBottom = "10px";
      document.getElementById("main").style.paddingBottom = "250px";
    }

    function closeNav() {
      document.getElementById("mymastbk").style.height = "0px";
      document.getElementById("main").style.paddingBottom = "0px";
    }
  </script>
</body>


</html>
