{%extends "main/base.html"%}
{% load static %} 

{% block content %}

            <!-- Banner -->
            <div class="page-heading">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h1 style="font-size: 50px;">Compete</h1>
                    <p>Take part in any live competition or have a look at past competition questions.</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Services -->
            <section class="tables">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">

                    <div class="default-table">
                      
                      <div class="section-heading">
                        <h2>Live Competitions</h2>
                      </div>
                      
                      <table>
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Start</th>
                            <th>End</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><a href="#">Grammer Quiz 1</a></td>
                            <td>A simple quiz on sanskrit grammer</td>
                            <td>22:00 30/12/2020</td>
                            <td>09:00 05/01/2021</td>
                          </tr>
                          <tr>
                            <td><a href="#">Grammer Quiz 2</a></td>
                            <td>A simple quiz on sanskrit grammer</td>
                            <td>22:00 30/12/2020</td>
                            <td>09:00 05/01/2021</td>
                          </tr>
                          <tr>
                            <td><a href="#">Essay writing 1</a></td>
                            <td>A simple quiz on sanskrit grammer</td>
                            <td>22:00 30/12/2020</td>
                            <td>09:00 05/01/2021</td>
                          </tr>
                          <tr>
                            <td>#1014</td>
                            <td>Lorem ipsum dolor sit amet</td>
                            <td>$20.50</td>
                            <td>$20.50</td>
                          </tr>
                          <tr>
                            <td>#1015</td>
                            <td>Lorem ipsum dolor sit amet</td>
                            <td>$20.50</td>
                            <td>$20.50</td>
                          </tr>
                        </tbody>
                      </table>
                      <ul class="table-pagination">
                        <li><a href="#">Previous</a></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">Next</a></li>
                      </ul>
                    </div>

                    <br><br><br>
                    <hr>
                    <br>

                    <div class="alternate-table">
                      
                      <div class="section-heading">
                        <h2>Past Competitions</h2>
                      </div>

                      <table>
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Start</th>
                            <th>End</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><a href="#">Grammer Quiz 1</a></td>
                            <td>A simple quiz on sanskrit grammer</td>
                            <td>22:00 30/12/2020</td>
                            <td>09:00 05/01/2021</td>
                          </tr>
                          <tr>
                            <td><a href="#">Grammer Quiz 2</a></td>
                            <td>A simple quiz on sanskrit grammer</td>
                            <td>22:00 30/12/2020</td>
                            <td>09:00 05/01/2021</td>
                          </tr>
                          <tr>
                            <td><a href="#">Essay writing 1</a></td>
                            <td>A simple quiz on sanskrit grammer</td>
                            <td>22:00 30/12/2020</td>
                            <td>09:00 05/01/2021</td>
                          </tr>
                          <tr>
                            <td>#1014</td>
                            <td>Lorem ipsum dolor sit amet</td>
                            <td>$20.50</td>
                            <td>$20.50</td>
                          </tr>
                          <tr>
                            <td>#1015</td>
                            <td>Lorem ipsum dolor sit amet</td>
                            <td>$20.50</td>
                            <td>$20.50</td>
                          </tr>
                        </tbody>
                      </table>
                      <ul class="table-pagination">
                        <li><a href="#">Previous</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">...</a></li>
                        <li class="active"><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">Next</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- Top Image -->
            
          

      
      {%endblock%}