{%extends "main/base.html"%}
{% load static %}

{% block content %}


            <!-- Banner -->
            <style media="screen">
              background-image: url({% static 'main/assets/images/compete.png' %});
            </style>
            <div class="page-heading">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h1 style="font-size: 50px;">Compete</h1>
                    <p>Take part in any live competition or have a look at past competition questions.</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Services -->
            <section class="tables">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">

                    <div class="default-table">

                      <div class="section-heading">
                        <h2>Live Competitions</h2>
                      </div>

                      <table>
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Organiser</th>
                            <th>Start</th>
                            <th>End</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for competition in live_competitions %}
                          <tr>
                            <td><a href="{% url 'competition_description' pk=competition.pk %}">{{competition.name}}</a></td>
                            <td>{{competition.organiser}}</td>
                            <td>{{competition.start_time}}</td>
                            <td>{{competition.end_time}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>

                      </table>
                      <ul class="table-pagination">
                        <li><a href="#">Previous</a></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">Next</a></li>
                      </ul>
                    </div>

                    <br><br><br>
                    <hr>
                    <br>

                    <div class="alternate-table">

                      <div class="section-heading">
                        <h2>Past Competitions</h2>
                      </div>

                      <table>
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Organiser</th>
                            <th>Start</th>
                            <th>End</th>
                          </tr>
                        </thead>
                        {% for competition in past_competitions %}
                          <tr>
                            <td><a href="{% url 'competition_description' pk=competition.pk %}">{{competition.name}}</a></td>
                            <td>{{competition.organiser}}</td>
                            <td>{{competition.start_time}}</td>
                            <td>{{competition.end_time}}</td>
                          </tr>
                          {% endfor %}
                      </table>
                      <ul class="table-pagination">
                        <li><a href="#">Previous</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">...</a></li>
                        <li class="active"><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">Next</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- Top Image -->

          {% include 'main/comments.html'  %}


      {%endblock%}
