{%extends "main/base.html"%}
{% load static %} 

{% block content %}

            
<div class="row">
                    <div class="col-md-12">
                    <div class="section-heading">
                      <h2 style="font-size:40px">{{competition.name}}</h2>
                    </div>
                  </div>                    


                      <div class="col-md-4">
                        <div class="border-rectangle-button">
                          <a href="{% url 'competition_description' pk=competition.pk %}">Description</a>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="filled-rectangle-button">
                          <a href="{% url 'competition_questions' pk=competition.pk %}">Questions</a>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="border-rectangle-button">
                          <a href="{% url 'competition_leaderboard' pk=competition.pk %}">Leaderboard</a>
                        </div>
                      </div>
                    </div>


                    <hr>

            <section class="forms">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    
                    
                     

                       

                    <form id="contact" action="" method="post">
                      {% csrf_token %}
                      <!-- <div class="row"> -->

                        {% if mcq_questions %}
                        <h2>MCQ Questions</h2>
                        <br>
                        {%endif%}

                       {% for mcq_question in mcq_questions %}
                       

                        <p style="font-size: 20px;color: black;"><b>{{forloop.counter}}. {{mcq_question.question}}</b></p>

                        <br>

                          {% for option in mcq_options %}
                              
                              {% if option.question == mcq_question %}
                              <!-- {{option.pk}} -->
                              <div class="col-md-4 col-sm-4">
                                <div class="radio-item">
                                  <input name="mcq{{option.pk}}" type="checkbox" id="mcq{{option.pk}}" value="{{option.option}}">
                                  <label for="mcq{{option.pk}}">{{option.option}}</label>
                                </div>
                              </div>
                              {%endif%}
                          {%endfor%}

                        {% endfor %}

                        <hr>
                        
                        {%if fib_questions%}
                        <h2>FIB Questions</h2>
                        <br>
                        {%endif%}

                        {% for fib_question in fib_questions %}

                         

                        <p style="font-size: 20px;color: black;"><b>{{forloop.counter}}. {{fib_question.question}}</b></p>
                        <br>

                        <div class="col-12">
                          <textarea name="fib{{fib_question.pk}}" id="fib{{fib_question.pk}}" placeholder="Enter your answer here" rows="6"></textarea>
                        </div>
                        {% endfor %}

                        <div class="col-md-12">
                          <button type="submit" id="form-submit" class="button">Submit Quiz</button>
                        </div>

                      <!-- </div> -->
                    </form>

                  </div>
                </div>
              </div>
            </section>
      
{%endblock%}