{%extends "main/base.html"%}
{% load static %}

{% block content %}

{%if message%}
<script>
    alert('{{ message }}');
    </script>
 {%endif%}

            <!-- Banner -->
            <section class="main-banner">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="banner-content">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="banner-caption">
                            <h4>Learn <em>Sanskrit</em> for free</h4>
                            <span>The best new ways to learn Sanskrit through various games and competitions</span>
                            <p>Learning with <strong>Sanskritam</strong> is fun and addictive. You can learn at absolutely anytime and anywhere. </p>
                            <div class="primary-button">
                              <a href="{% url 'history' %}">Read More about Sanskrit.</a>                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- Services -->
            <section class="services">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4">
                    <div class="service-item first-item">
                      <div class="icon"></div>
                      <h4>Learn Sankrit Grammar</h4>
                      <p></p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item second-item">
                      <div class="icon"></div>
                      <h4>Peer Learning Made Easy</h4>
                      <p></p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item third-item">
                      <div class="icon"></div>
                      <h4>Play games and Learn</h4>
                      <p></p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item fourth-item">
                      <div class="icon"></div>
                      <h4>Weekly Competetions</h4>
                      <p></p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item fivth-item">
                      <div class="icon"></div>
                      <h4>Absolutely Free</h4>
                      <p></p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item sixth-item">
                      <div class="icon"></div>
                      <h4>Easy Learning</h4>
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- Top Image -->
            <section class="top-image">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <img src="{% static 'main/assets/images/top-image.jpg' %}" alt="">
                    <div class="down-content">
                      <h4>Welcome to Samskritam</h4>
                      <p>We welcome you to our website. Our aim is to provide you all with the best learning experience and an integrated platform for sharing your knowledge and experience in sanskrit with all the learners.
                      <br> Hope you all have a great learning experience!! </p>
                      <!-- <div class="primary-button">
                        <a href="{% url 'history' %}">Read More</a>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- Left Image -->
            <section class="left-image">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <img src="{% static 'main/assets/images/left-image.jpg' %}" alt="">
                  </div>
                  <div class="col-md-6">
                    <div class="right-content">
                      <h4>For Learners</h4>
                      <p>Learn Sanskrit online using our high-quality resources to quickly improve your Sanskrit. This website is created for adult learners of Sanskrit.
                      <br> Start by taking our free Sanskrit test to help you self assess your level. Then find lessons and resources to improve your Sanskrit skills.
                      <br>Get more practice to improve your Sanskrit with weekly competetion and best peer learning experience</p>
                      <div class="primary-button">
                        <a href="{% url 'signup_view' %}">Sign Up !</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- Right Image -->
            <section class="right-image">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <div class="left-content">
                      <h4>For Experts</h4>
                      <p>This platform provides experts to share their experience and hence guide others to do better. Experts are welcomed to create more weekly competetions and games for other learners.</p>
                      <div class="primary-button">
                        <a href="{% url 'signup_view' %}">Connect with us.</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <img src="{% static 'main/assets/images/right-image.jpg' %}" alt="">
                  </div>
                </div>
              </div>
            </section>


{% include 'main/comments.html'  %}

      {%endblock%}
